var productSearchResultsDiv = $('.product-featured-results')
productSearchResultsDiv.empty()
productSearchResultsDiv.html("<%= escape_javascript render(:partial => 'product_cards', :locals => { show_buttons: true ,products: ProductPresenter.wrap(@products) }) %>")


// There was an issue of readmore.js cutting of text in each of the profile cards. This might've been caused by the fact that the
// readmore function is called on the profile div before it is fully rendered.  We set a 500 second delay to make sure the div fully renders
// before calling the readmore function.

var delay = 500;



setTimeout(function() {
var profile = $('.profile')
profile.readmore({
speed: 75,
collapsedHeight: 30,
lessLink: '<a href="#">Read less</a>'
});
$(".bars").css("visibility", "visible")
$('.fa-spin').addClass('d-none')
}, delay);