<p><span style="font-size:14px;">Hi <%= @freelancer_name%>,</span></p>

<p><span style="font-size:14px;">We need more information from you to further establish your identity (a government requirement).</span></p>

<p><span style="font-size:14px;">-> Go to <a href="https://www.yumfog.com/dashboard">https://www.yumfog.com/dashboard</a></span></p>

<p><span style="font-size:14px;">-> Click on <strong>Payments &amp; Settings</strong>.</span></p>

<p><span style="font-size:14px;">-> Fill out all the missing information marked as <span style="color:#dc3545;">required</span> on the payout form.</span></p>


