@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
/* line 1, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.chat-box-height {
  height: 75vh;
  overflow-y: scroll;
}

/* line 6, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.chat-input-group-height {
  height: 10vh;
}

/* line 10, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.chat-text-size {
  font-size: large;
}

/* line 14, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.chat-date-size {
  font-size: small;
}

/* line 19, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.chatroom-list-elem {
  font-size: medium;
  color: gray;
  cursor: pointer;
}

/* line 25, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}

/* line 30, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
.new_msg {
  background-color: lightgreen !important;
  color: white;
  font-weight: bold;
}

/* line 32, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_messages.scss */
#connection-error-alert {
  position: relative;
  z-index: 1;
  width: 100%;
}

/* line 4, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
.header {
  min-height: 30vh;
}

/* line 10, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
#tabs-freelancer-registration h3 {
  border-bottom: 5px double black;
}

/* line 14, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
.line-separator {
  text-align: center;
}

/* line 18, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
span {
  display: inline-block;
  vertical-align: middle;
}

/* line 23, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
.outer-line {
  width: 40%;
  border-bottom: 1px solid #c2c2c2;
}

/* line 28, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
.close {
  position: absolute;
  top: 5px;
  left: 97%;
  width: 100%;
}

/* line 35, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
.add-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 41, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_create_profile_form.scss */
#tags_tag {
  width: 187px !important;
}

/* line 5, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
:root {
  --jumbotron-padding-y: 3rem;
}

/* line 9, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  /* line 16, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}
/* line 22, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
.jumbotron p:last-child {
  margin-bottom: 0;
}

/* line 26, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
.jumbotron-heading {
  font-weight: 300;
}

/* line 30, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
.jumbotron .container {
  max-width: 40rem;
}

/* line 34, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 39, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
footer p {
  margin-bottom: .25rem;
}

/* line 43, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/* line 46, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
.freelancers_show {
  background-color: whitesmoke;
}

/* line 50, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/freelancers.scss */
#featured-engineers-text {
  font-size: large;
}

/* line 6, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
.subscription_settings_index {
  background-color: #f5f5f5 !important;
}

/* line 11, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
.unsub-alert {
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 21, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
#sub-form {
  background-color: white;
  border: #2E2F30 1px;
}

/* line 29, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
.manager-headline {
  font-size: 24px;
  color: black;
  text-align: center;
}

/* line 35, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
.manager-textbox {
  background-color: white;
  position: relative;
  margin-top: 60px;
}

/* line 42, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
.manager-text {
  max-width: 800px;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 50, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/subscription_settings.scss */
#manager .teaser-header-what {
  padding-left: 0px;
}

/* line 1, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/find-freelancers.scss */
.find-freelancers-hero {
  background-color: #ffd428;
}

/* stylelint-disable selector-list-comma-newline-after */
/* line 3, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

/* line 8, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

/* line 13, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-header-logo:hover {
  text-decoration: none;
}

/* line 17, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.users_show h1, .users_show h2, .users_show h3, .users_show h4, .users_show h5, .users_show h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* line 21, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.users_show .lead {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* line 25, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  /* line 29, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
  .display-4 {
    font-size: 3rem;
  }
}
/* line 36, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

/* line 43, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* line 56, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

/* line 62, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

/* line 67, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* line 72, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  /* line 74, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
  .h-md-250 {
    height: 250px;
  }
}
/*
 * Blog name and description
 */
/* line 80, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

/* line 85, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  /* line 91, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
  .blog-title {
    font-size: 3.5rem;
  }
}
/* Pagination */
/* line 97, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-pagination {
  margin-bottom: 4rem;
}

/* line 100, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
/* line 107, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-post {
  margin-bottom: 4rem;
}

/* line 110, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

/* line 114, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
/* line 122, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

/* line 129, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/blog.css */
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* line 14, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline .nav-link {
  color: black;
}
/* line 16, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline .nav-link.active, .show > .nav-pills-underline .nav-link {
  color: black;
}
/* line 25, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline > li.nav-item > a.nav-link {
  background-color: transparent !important;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  color: black;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 38, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline > li.nav-item > .freelancer-registration-link.nav-link {
  background-color: transparent !important;
  color: #1e7e34;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
/* line 49, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline > li.nav-item > a.nav-link.active,
.nav-pills-underline > li.nav-item > a.nav-link.active:hover,
.nav-pills-underline > li.nav-item > a.nav-link:hover {
  text-decoration: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  color: #ffc107;
}
/* line 61, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline > li.nav-item > a.nav-link.active {
  background-color: transparent !important;
}
/* line 68, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline > li.nav-item > a.nav-link.active:hover {
  color: #ffc107;
}
/* line 71, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/_pills_underline.scss */
.nav-pills-underline > li.nav-item > a.nav-link:hover {
  color: black;
  background-color: transparent !important;
}

/* line 14, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-red {
  background-color: #f53030;
}

/* line 19, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.jumbotron {
  background-image: url("cubes.png");
  color: whitesmoke;
}

/* line 25, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.featured-list {
  margin-top: -200px;
}

/* line 29, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.cloudinary-fileupload {
  height: auto;
}

/* line 33, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
input::-ms-value {
  background-color: transparent;
  border: 0;
}

/* line 38, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.nav-tabs > li > .dashboard {
  color: black !important;
}

/* line 42, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.nav-tabs > li > .dashboard.active {
  color: white !important;
  background-color: #FCBB43 !important;
}

/* line 47, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
body {
  font-family: 'Arial', sans-serif !important;
  overflow-y: overlay;
}

/* line 52, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.users_show, .subscription_settings_show, .dashboard_show {
  background-color: whitesmoke;
}

/* line 56, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.navbar {
  padding: 0 !important;
}

/* line 61, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-yumfog-orange {
  background-color: #FCBB43 !important;
}

/* line 65, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-chat-header {
  background-color: whitesmoke;
  color: whitesmoke;
}

/* line 70, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-white-smoke {
  background-color: whitesmoke;
}

/* line 74, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-green {
  background-color: #2fb15f;
}

/* line 78, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-blue {
  background-color: #6fa4ad;
}

/* line 82, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.text-yumfog-orange {
  color: #FCBB43;
}

/* line 90, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.pic-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
/* line 97, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.pic-container .bottom-left {
  position: absolute;
  bottom: 2px;
  left: 2px;
}

/* Top left text */
/* line 104, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.pic-container .top-left {
  position: absolute;
  top: 2px;
  left: 2px;
}

/* Top right text */
/* line 111, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.pic-container .top-right {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* Bottom right text */
/* line 118, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.pic-container .bottom-right {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

/* Centered text */
/* line 125, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.pic-container .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 132, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.price-text {
  font-size: 1rem;
}

/* line 137, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.bg-pattern {
  background-color: #FCBB43;
}

/* line 142, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
#bg-sub-nav {
  background-color: #3a3838;
}

/* line 150, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.freelancer-profile-entry {
  border-style: solid;
  border-width: 5px;
}

/* line 155, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.namelink {
  color: #964728 !important;
  font-weight: bold;
  text-decoration: underline;
}

/* line 162, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.profile, .job-description, .profile-chat {
  overflow: hidden !important;
}

/* line 167, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
}

/* line 172, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-wrapper-inner {
  max-width: 1000px;
}

/* line 176, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header {
  background: #434E5E;
  color: rgba(255, 255, 255, 0.9);
  height: 250px;
}

/* line 182, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header .picture {
  width: 250px;
}

/* line 185, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header .hire-contact-btns {
  position: relative;
  bottom: 0px;
}

/* line 190, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header .name {
  font-size: 2.25rem;
  letter-spacing: 0.175rem;
  font-weight: 900;
}

/* line 196, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header .rate {
  font-size: large;
}

/* line 200, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header .title {
  font-size: 1.5rem;
}

/* line 204, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header a {
  color: rgba(255, 255, 255, 0.6);
}

/* line 208, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-header a:hover {
  color: white;
}

/* line 212, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-social {
  font-size: 0.875rem;
}

/* line 216, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-social .fa-container {
  font-size: 1rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 0.125rem;
  background: white;
  color: #434E5E;
}

/* line 226, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-section-title {
  font-size: 1.25rem;
  position: relative;
  color: #434E5E;
}

/* line 232, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #8d9aad;
}

/* line 242, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-section-content {
  color: #58677c;
}

/* line 246, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-progress {
  height: 0.6rem;
}

/* line 250, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-company-name {
  color: #58677c;
  font-size: 0.875rem;
  font-weight: 500;
}

/* line 256, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-position-time {
  font-size: 0.875rem;
  color: #aab4c3;
}

/* line 261, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-position-title {
  font-size: 1.125rem;
  color: #434E5E;
}

/* line 266, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.resume-timeline-item-desc-heading {
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  /* line 276, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
  .resume-wrapper {
    padding-top: 0;
  }

  /* line 279, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
  .resume-header {
    height: auto;
  }

  /* line 282, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
  .resume-header .picture {
    width: 120px;
    border-radius: 4px;
  }
}
/* line 289, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.font-underline {
  text-decoration: underline;
}

/* line 296, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
#new-job {
  overflow: scroll;
}

/* line 300, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.font-weight-light {
  font-weight: 300 !important;
}

/* line 304, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.font-weight-normal {
  font-weight: 400 !important;
}

/* line 308, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.font-weight-bold {
  font-weight: bold !important;
}

/* line 314, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.badge-info-size {
  font-size: .9rem;
}

/* line 318, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.fa-check-circle {
  color: green;
}

/* line 322, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.fa-times-circle {
  color: red;
}

/* line 333, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.subnav {
  border-top: 1px solid lightgrey;
}

/* line 338, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.approval-col {
  min-height: 38px;
}

/* line 342, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  /* line 353, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
  .bars {
    flex-direction: column !important;
  }

  /* line 356, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
  .port-item {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 363, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
  .freelancer-basic-info {
    text-align: center !important;
  }
}
/* line 368, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.round-img {
  border-radius: 50%;
}

/* line 372, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
blockquote {
  background: #FCBB43;
  padding: 5px;
}

/* line 378, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
blockquote p {
  display: inline;
}

/* line 382, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.multi-collapse {
  height: 500px;
  width: 100%;
}

/* line 383, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
.multi-collapse {
  overflow: hidden;
  overflow-y: scroll;
}

/* line 386, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

/* line 390, /Users/ArunSubramanian/Desktop/devops_on_demand/app/assets/stylesheets/application.scss */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
