files:
  "/home/ec2-user/update_cron_tab.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      # Setting up correct environment and ruby version so that bundle can load all gems
      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      # Change directory to the app folder and run the whenever command as ec2-user.
      cd $EB_APP_CURRENT_DIR
      su -s /bin/bash -c "bundle exec whenever --update-crontab" ec2-user

container_commands:
  enable_cron:
    command: mv /home/ec2-user/update_cron_tab.sh /opt/elasticbeanstalk/hooks/appdeploy/post/
    leader_only: true