var freelancerSearchResultsDiv = $('.freelancer-search-results')
freelancerSearchResultsDiv.empty()
freelancerSearchResultsDiv.html("<%= escape_javascript render(:partial => 'freelancer_cards', :locals => { :freelancers => FreelancerPresenter.wrap(@freelancer_searches) }) %>")

var delay = 500;

$(".port-item").css('visibility', 'hidden')

setTimeout(function() {
    var profile = $('.profile')
    profile.readmore({
        speed: 75,
        collapsedHeight: 24,
        lessLink: '<a href="#">Read less</a>'
    });
    $(".port-item").css("visibility", "visible")

}, delay);






