<!-- Page Content -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">DevOps On Demand</h1>
    <p class="lead text-muted">Hire DevOps experts around the world by the hour, week, or sprint.</p>
    <p>
      <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-primary my-2">Main call to action</a>
      <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-1"><%= t('contractor_list_title') %></div>
    </div>

  </div>
</section>



  <%= render 'freelance_list' %>

  <!-- /.row -->



