<!-- Jumbotron Header -->
<header class="jumbotron  pt-4 pb-6 bg-red rounded-0  ">
  <div class="container-fluid px-4 py-2">
    <div class="row">
      <div class="text-center col-lg-12 p-0">
        <h1 >DevOps On Demand</h1>
        <p class="lead">Hire cloud engineers around the world by the hour, week, or sprint.</p>
        <a href="#" class="btn btn-light btn-lg">Search for Engineers</a>
      </div>
    </div>
  </div>
</header>






