@mixin freelancer-form-bg-color{
  background-color: rgba(255, 191, 40, 0.50) !important;
  border: 0 !important;
}

.tagsinput{
  @include freelancer-form-bg-color
}

#freelancer-registration input[type=text]{
  @include freelancer-form-bg-color
}

#freelancer-registration input[type=file]{
  @include freelancer-form-bg-color
}

#freelancer-registration input[type=number]{
  @include freelancer-form-bg-color
}

#freelancer-registration textarea{
  @include freelancer-form-bg-color
}

#freelancer-registration select{
  @include freelancer-form-bg-color
}

#freelancer-registration input[type=number]:focus{
  @include freelancer-form-bg-color;
}

#freelancer-registration textarea:focus{
  @include freelancer-form-bg-color;
}

#freelancer-registration select:focus{
  @include freelancer-form-bg-color;
}

.header{
  min-height: 30vh;
}



#tabs-freelancer-registration h3{
   border-bottom: 5px double black;
}

.line-separator {
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line {
  width: 40%;
  border-bottom: 1px solid #c2c2c2;
}

.close{
  position: absolute;
  top: 5px;
  left: 97%;
  width: 100%;
}

.add-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}


#tags_tag{
  width: 187px !important;
}



