@mixin freelancer-form-bg-color{
  background-color: #ffee957a !important;
  border: 0 !important;
}

.freelancer-registration input[type=text]{
  @include freelancer-form-bg-color
}

.freelancer-registration input[type=number]{
  @include freelancer-form-bg-color
}

.freelancer-registration textarea{
  @include freelancer-form-bg-color
}

.freelancer-registration select{
  @include freelancer-form-bg-color
}

.freelancer-registration input[type=number]:focus{
  @include freelancer-form-bg-color;
}

.freelancer-registration textarea:focus{
  @include freelancer-form-bg-color;
}

.freelancer-registration select:focus{
  @include freelancer-form-bg-color;
}

.header{
  min-height: 30vh;
}

.tokenfield{
  @include freelancer-form-bg-color;
}