.chat-box-height{
  height: 75vh;
  overflow-y: scroll;
}

.chat-input-group-height{
  height: 10vh;
}

.chat-text-size{
  font-size: large;
}

.chat-date-size{
  font-size: small;
}


.chatroom-list-elem{
  font-size: medium;
  color: gray;
  cursor: pointer;
}

.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}

.new_msg { background-color: lightgreen !important; color: white ;font-weight: bold; }

#connection-error-alert{
  position: relative;
  z-index: 1;
  width: 100%;

}



