@import "messages";
@import "_create_profile_form";
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import "freelancers";
@import "users";
@import "subscription_settings";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');
@import "find-freelancers";
@import "blog";
@import "_pills_underline";


.bg-red{
  background-color: #f53030;

}

.about_me > p{
  font-size: 1.05em;
}

.exp-header{
  word-wrap: break-word;
}


.hero-title{
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 3.5em;
  color: black;
  font-variant-ligatures: common-ligatures;
}

.hero-subtitle{
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: black;
  font-variant-ligatures: common-ligatures;
}

.section-header{
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

.tab-content, .freelancer-search-results{
  min-height: 80vh;

}

.tab-content {
  background-image: url("https://devops-on-demand.s3.amazonaws.com/img/dark-stripes-light.png");

 }

.featured-list{
  margin-top: -200px;
}

.cloudinary-fileupload {
  height: auto; // This css code fixes a UI issue  where the file selector on Firefox extends past its border. https://stackoverflow.com/questions/22049739/fix-for-firefox-file-input-using-bootstrap-3-1
}

input::-ms-value{ // Extra input styling for IE browsers.
  background-color: transparent;
  border: 0;
}

.nav-tabs > li > .dashboard {
  color: black !important;
}

.nav-tabs > li > .dashboard.active {
  color: white !important;
  background-color: #FCBB43 !important;
}

body {
  font-family: 'Arial', sans-serif !important;
  overflow-y: overlay;
 }

.users_show, .subscription_settings_show, .dashboard_show {

  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
}

.navbar{
  padding: 0 !important;
}

// colors
.bg-yumfog-orange{
  background-color: #FCBB43 !important;
}

.bg-chat-header{
  background-color: whitesmoke;
  color: whitesmoke;
}

.bg-white-smoke{
  background-color: whitesmoke;
}

.bg-green{
  background-color: #2fb15f;
}

.bg-blue{
  background-color: #6fa4ad;
}

.text-yumfog-orange {
  color: #FCBB43
}



// <-- colors

.pic-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.pic-container .bottom-left {
  position: absolute;
  bottom: 2px;
  left: 2px;
}

/* Top left text */
.pic-container .top-left {
  position: absolute;
  top: 2px;
  left: 2px;
}

/* Top right text */
.pic-container .top-right {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* Bottom right text */
.pic-container .bottom-right {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

/* Centered text */
.pic-container .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-text{
  font-size: 1rem;
}


.bg-pattern {
  background-color: #FCBB43;
}


#bg-sub-nav{
  background-color: #3a3838;
}

.blackborder{
 // border-left: 4px solid black;
}

.freelancer-profile-entry{
  border-style: solid;
  border-width: 5px;
}

.namelink{
  color: #964728 !important;
  font-weight: bold;
  text-decoration: underline;
}


.profile, .job-description, .profile-chat {
  overflow: hidden !important;
}


.resume-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
}

.resume-wrapper-inner {
  max-width: 1000px;
}

.resume-header {
  background: #434E5E;
  color: rgba(255, 255, 255, 0.9);
  height: 250px;
}

.resume-header .picture {
  width: 250px;
}
.resume-header .hire-contact-btns{
  position: relative;
  bottom: 0px;
}

.resume-header .name {
  font-size: 2.25rem;
  letter-spacing: 0.175rem;
  font-weight: 900;
}

.resume-header .rate{
  font-size: large;
}

.resume-header .title {
  font-size: 1.5rem;
}

.resume-header a {
  color: rgba(255, 255, 255, 0.6);
}

.resume-header a:hover {
  color: white;
}

.resume-social {
  font-size: 0.875rem;
}

.resume-social .fa-container {
  font-size: 1rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 0.125rem;
  background: white;
  color: #434E5E;
}

.resume-section-title {
  font-size: 1.25rem;
  position: relative;
  color: #434E5E;
}

.resume-section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #8d9aad;
}

.resume-section-content {
  color: #58677c;
}

.resume-progress {
  height: 0.6rem;
}

.resume-company-name {
  color: #58677c;
  font-size: 0.875rem;
  font-weight: 500;
}

.resume-position-time {
  font-size: 0.875rem;
  color: #aab4c3;
}

.resume-position-title {
  font-size: 1.125rem;
  color: #434E5E;
}

.resume-timeline-item-desc-heading {
  font-size: 1rem;
}






@media (max-width: 767.98px) {
  .resume-wrapper {
    padding-top: 0;
  }
  .resume-header {
    height: auto;
  }
  .resume-header .picture {
    width: 120px;
    border-radius: 4px;
  }

}

.font-underline{
  text-decoration: underline;
}




#new-job{
  overflow: scroll;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: bold !important;
}



.badge-info-size{
  font-size: .9rem;
}

.fa-check-circle{
  color: green;
}

.fa-times-circle{
  color: red;
}








.subnav{
  border-top:1px solid lightgrey;
 }


.approval-col{
  min-height: 38px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .bars {
    flex-direction: column !important;
  }
  .port-item {
    width: 100%;
  }

  .section-header, .about_me > p {
    text-align: center !important;
  }
  .freelancer-basic-info {
    text-align: center !important;
  }

  body{
    width: 100vw;
  }

  .beard{

    background-image: url("https://devops-on-demand.s3.amazonaws.com/img/adult-city-full-beard-480.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 80vh;

  }
}



@media screen and (min-width: 768px) {

  .beard{
    background-image: url("https://devops-on-demand.s3.amazonaws.com/img/adult-city-full-beard-480.jpg");
    background-size: 100% auto;
    background-position: 50% 35%;
    min-height: 80vh;

  }
}






.round-img{
  border-radius: 50%;
}

blockquote {
  background: #FCBB43;
  padding:   5px;

}

blockquote p {
  display: inline;
}

.multi-collapse{height:500px; width:100%;}
.multi-collapse{overflow:hidden; overflow-y:scroll;}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}








