@import "bootstrap";
@import "contractors";



//colors

.navbar-light{
  background-color: white !important;
}
.navbar{
  border-bottom:5px solid whitesmoke;
}
footer{
    border-top:5px solid whitesmoke;

     width: 100%;
    color: whitesmoke;
    background-color: rgba(124, 124, 124, 0.85);

}

