// Place all the styles related to the subscription_settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.subscription_settings_index{
  background-color: #f5f5f5 !important;
}


.unsub-alert{
  width: 90%;
  left: 0;
  right: 0;
  margin: auto
}




#sub-form{
  background-color: white;
  border: #2E2F30 1px;
}



// managers
.manager-headline {
  font-size: 24px;
  color: black;
  text-align: center;
}

.manager-textbox {
  background-color: white;

  position: relative;
  margin-top: 60px;
}

.manager-text {
  max-width: 800px;
  left: 0;
  right: 0;
  margin: auto

}

#manager  .teaser-header-what {
  padding-left: 0px;
}
