<!-- The Modal -->
<div class="modal" id="addProductModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Product</h4>

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'add_product', user: user %>
      </div>
    </div>
  </div>
</div>