<% unless user_signed_in? %>



  <div class="container-fluid beard     px-5 py-4">

    <div class="row">
      <div class="col-md-12 hero-elements">
        <h1 class=" mt-2  text-light hero-title "><span class="px-1">DevOps On Demand</span></h1>
        <p class="text-light hero-subtitle "><span class=" px-1">Hire freelance cloud engineers from around the world by the hour, week, or sprint.</span></p>
         <button class=" mt-2 find-freelancer-btn btn btn-lg btn-warning"><i class="fas fa-search pr-2"></i>Search for Engineers</button>
        <button class=" mt-2 register-btn btn btn-lg btn-light"><i class="fas fa-search pr-2"></i>Register as an Engineer</button>
      </div>
    </div>
   </div>




<% end %>
<div class="tab-content pb-4" id="pills-tabContent">
  <% if false %>
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

    </div>
    <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">

    </div>

<%end%>

  <div class="tab-pane fade"  id="find-freelancers" role="tabpanel" aria-labelledby="find_freelancers-tab">

  </div>

  <div class="tab-pane fade"  id="freelancer-payout" role="tabpanel" aria-labelledby="settings-tab">

  </div>

  <div class="tab-pane fade"  id="settings" role="tabpanel" aria-labelledby="settings-tab">

  </div>

  <div class="tab-pane fade"  id="posted-jobs" role="tabpanel" aria-labelledby="jobs-tab">

  </div>

  <div class="tab-pane fade"  id="received-jobs" role="tabpanel" aria-labelledby="jobs-tab">

  </div>

  <div class="tab-pane fade" id="freelancer-registration" role="tabpanel" aria-labelledby="freelancer-registration-tab">

  </div>
</div>



