<% unless user_signed_in? %>



  <div class="container-fluid cubes border-bottom   px-5 py-4">

    <div class="row">
      <div class="col-md-8">
         <h1 class=" mt-2   hero-title ">DevOps On Demand</h1>
         <p class="   pb-2  hero-subtitle ">Hire freelance cloud engineers from around the world by the hour, week, or sprint.   </p>
         <button class=" find-freelancer-btn btn btn-lg btn-warning">Search for Engineers</button>

      </div>
    </div>
   </div>

  <div class="container-fluid    px-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-header pt-4 pb-3">Featured Engineers</h2>
      </div>
    </div>
  </div>

  <div class="  pb-2 border-bottom  freelancer-featured-results  ">
  </div>




<% end %>
<div class="tab-content" id="pills-tabContent">
  <% if false %>
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

    </div>
  <%end%>
  <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">

  </div>

  <div class="tab-pane fade"  id="find-freelancers" role="tabpanel" aria-labelledby="find_freelancers-tab">

  </div>

  <div class="tab-pane fade"  id="freelancer-payout" role="tabpanel" aria-labelledby="settings-tab">

  </div>

  <div class="tab-pane fade"  id="settings" role="tabpanel" aria-labelledby="settings-tab">

  </div>

  <div class="tab-pane fade"  id="posted-jobs" role="tabpanel" aria-labelledby="jobs-tab">

  </div>

  <div class="tab-pane fade"  id="received-jobs" role="tabpanel" aria-labelledby="jobs-tab">

  </div>

  <div class="tab-pane fade" id="freelancer-registration" role="tabpanel" aria-labelledby="freelancer-registration-tab">

  </div>
</div>



