<% unless user_signed_in? %>

  <div class="card border-0  rounded-0" style="width: 100%;">
    <div class="container">
    <div id="intro-card" class="text-center my-3 card-body px-0">
      <h1 class="card-title">Buy & Sell Prototype Apps</h1>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
  </div>


<% end %>



<div class="tab-content pb-4" id="pills-tabContent">

  <% if false %>
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

    </div>
    <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">

    </div>

<%end%>

  <div class="tab-pane fade"  id="find-freelancers" role="tabpanel" aria-labelledby="find_freelancers-tab">

  </div>

  <div class="tab-pane fade"  id="freelancer-payout" role="tabpanel" aria-labelledby="settings-tab">

  </div>

  <div class="tab-pane fade"  id="settings" role="tabpanel" aria-labelledby="settings-tab">

  </div>

  <div class="tab-pane fade"  id="posted-jobs" role="tabpanel" aria-labelledby="jobs-tab">

  </div>

  <div class="tab-pane fade"  id="received-jobs" role="tabpanel" aria-labelledby="jobs-tab">

  </div>

  <div class="tab-pane fade" id="add-product" role="tabpanel" aria-labelledby="add-product-tab">

  </div>
</div>



