<div class="text-right bg-white w-100 border-0 p-3">
  <button type="button" class="btn btn-light btn-circle" data-dismiss="modal">X</button>
</div>
<%= render 'freelancer_cards', freelancers: [freelancer], show_buttons: false %>
