<ul class="navbar-nav ml-auto">
  <% if user_signed_in? %>
    <li>
      <button class="px-3 nav-link btn btn-warning dashboard-btn" data-target="#tabs-freelancer-registration"><i class="fa fa-user-circle mr-1"></i><%= t("register_as_a_freelancer") %></button>
     </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to( t('signup'), new_registration_path('user'), class: "nav-link")  %>
    </li>
    <li class="nav-item">
      <%= link_to( t('login'), new_user_session_path, class: "nav-link")  %>
    </li>
  <% end %>
</ul>