<ul class="navbar-nav ml-auto">
  <% if user_signed_in? %>
    <li>
      <% unless freelancer? %>
        <button class="bg-danger text-warning freelancer-signup-btn btn btn-link"><i class="fa fa-user-circle mr-1"></i><%=t('register_as_a_freelancer')%></button>
      <% end %>
    </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to( t('signup'), new_registration_path('user'), class: "nav-link")  %>
    </li>
    <li class="nav-item">
      <%= link_to( t('login'), new_user_session_path, class: "nav-link")  %>
    </li>
  <% end %>
</ul>