<ul class="navbar-nav ml-auto">
  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-dark nav-link") %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to( t('signup'), new_registration_path('user'), class: "text-dark nav-link")  %>
    </li>
    <li class="nav-item">
      <%= link_to( t('login'), new_user_session_path, class: "text-dark nav-link")  %>
    </li>
  <% end %>
</ul>