<div class="jumbotron p-3 mb-3 p-md-4 text-white  <%= background_color %>">
  <div class="col-md-9 px-0">
    <h1 class="display-4"><%= header %></h1>
    <p class="lead my-3"><%= tagline %></p>
  </div>
</div>