<!-- The Modal -->
<div class="modal" id="settingsModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'settings', user: current_user %>
      </div>
    </div>
  </div>
</div>