<div class="skills-nested-fields">
  <div class="form-row mb-2">
    <div class="form-group col-12">
      <%= f.label :types %>
      <%= f.text_field :types, class: 'form-control', id: 'tags' %>
    </div>
  </div>
</div>