<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pillar - Bootstrap 4 Resume/CV Template for Developers</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Responsive Resume Template">

  <link rel="shortcut icon" href="favicon.ico">


  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">


  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="/vendor/profile.css">
</head>

<body>
   <%= yield %>
</body>
</html>